.window{
    width: 100%;
    height: 100%;
    background: #464446;
}
.titleDiv{
    float: left;
    width: 100%;
    height: 10%;
    background: #353335;
}
.titleDiv div{
    float: left;
    width: 33%;
    position: relative;
    background: #6d8d83;
}
.titleDiv label{
    float: left;
    position: relative;
    width: 10px;
    height: 100%;
    background: #53054a;
}
#warp{
    float: left;
    width: 600px;
    height: 200px;
    margin: 0px;
    position:  relative;
    clear: both;
    background: #535353;

}
#warp li{
    width: 200px;
    height: 200px;
    float: left;
    overflow: hidden;
    text-align: center;
    line-height:50px;
}
#warp li.li1{
    background: #145315;
}
#warp li.li2{
    background: #012b53;
}
#warp li.li3{
    background: #301353;
}

#warp label{
    float: left;
    width: 10px;
    height: 200px;
    position: absolute;
    cursor: move;

}
#warp label.l1{
    left:200px;
    background: #53054a;
}
#warp label.l2{
    left:400px;
    background: #530300;
}
.managerControl{
    width: 200px;
    height: 400px;
}