#topDiv{
    width: 100%;
    height: 10%;
    background: #53391e;
}
#downDiv{
    width: 100%;
    height: 90%;
    background: #53054a;
}


.managerDiv{
    width: 200px;
    height: 50px;
    background: #3c5345;
}
#mainUl{
    background: #533337;
}
#mainUl div{
    float: left;
    background: #3c4b53;
}
#mainUl div.div1{
    width: 200px;
    height: 100%;
    background: #53054a;
}