body,html,div{
    margin: 0;
    padding: 0;
}
.window-header{
    margin: 0 auto;
    width: 100%;
    height: 6%;
    background: #686875;
}
/*.window-header .header-middle{*/
    /*margin: 0 auto;*/
/*}*/
.window-body{
    margin: 0 auto;
    width: 100%;
    height: 88%;
    background: #7b7b88;
}
.window-body .body-window{
    float: left;
    width: 32%;
    height: 100%;
    border-style: solid;
    border-color: #d3d3e4;
}
.window-body .body-drag-bar{
    float: left;
    width: 5px;
    height: 100%;
    background: #750200;
}
.window-footer{
    margin-bottom: 0;
    width: 100%;
    height: 6%;
    background: #686875;
}


