<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="css/index.css">
  <script src="lib/jquery-3.2.1.min.js"></script>
</head>
<body style="width: 100%;height: 100%;background: #c9c9dc">

<div class="window-header">

</div>
<div class="window-body">
  <div class="body-window"></div>
  <label class="body-drag-bar"></label>
  <div class="body-window"></div>
  <label class="body-drag-bar"></label>
  <div class="body-window"></div>
</div>
<div class="window-footer">

</div>
</body>
</html>