<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>h5editor_macos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2AAEFC051EDE4DE6005062AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AAEFC161EDE4DE7005062AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AAEFC211EDE4DE7005062AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
